$base-grey: #1a1a1a;

.gui-container {
  position: fixed;
  right: 0px;
  width: 300px;
  font-size: 1.2rem;
  overflow-y: auto;

  .scrollable {
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    width: 8px;

    /* Track */
    &-track {
      background: #555;
    }

    /* Handle */
    &-thumb {
      background: #888;
    }

    /* Handle on hover */
    &-thumb:hover {
      background: #4a4a4a;
    }
  }

  ul {
    li {
      padding-left: 0.4rem;

      &:not(.folder) {
        border-bottom: 1px solid #2c2c2c;
      }
    }
  }

  .title {
    cursor: pointer;
    color: white;
    background: $base-grey
      url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 8px
      no-repeat;

    padding-left: 1.6rem;
    margin-left: -0.3rem;
  }

  .item {
    color: white;
    background: $base-grey;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);

    label {
      padding-right: 0.5rem;
      width: 40%;
    }

    input {
      width: 50%;
    }
  }

  .group {
    display: block;
    opacity: 1;
    height: auto;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.05, 0.69, 0.14, 1);
    margin-left: 0.3rem;

    li:not(.folder) {
      height: 26px;
      line-height: 26px;
    }

    .closed li:not(.title) {
      display: none;
      opacity: 0;
      height: 0;
      margin: 0px 1rem;
      overflow: hidden;
      transition: 0.5s;
      transition-timing-function: cubic-bezier(0.05, 0.69, 0.14, 1);
    }
  }
}

/* 
Tooltips
*/
.tooltip {
  display: inline-block;
  text-align: center;
  background-color: darkgrey;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  line-height: 14px;
  cursor: default;

  &::before {
    content: '?';
    color: black;
    text-shadow: none;
  }

  & span {
    visibility: hidden;
    max-width: 400px;
    line-height: 18px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.95);
    color: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    position: absolute;
    z-index: 1;
    margin: 1rem;
  }

  &:hover span {
    visibility: visible;
  }
}
